{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block subtitle %}{{ title }}{% endblock %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>
  {% firstof parent_category.name sidebar_title 'Kaarten' %}
  </h2>
  <ul id="area-pane"
      class="automatic-tree filetree pane">
    {% if tree %}
      {% with "lizard_maptree/tree_snippet.html" as tree_template %}
        {% with tree as tree_items %}
          {% include tree_template %}
        {% endwith %}
      {% endwith %}
    {% else %}
      <li>Geen kaartlagen beschikbaar.</li>
    {% endif %}
  </ul>
</div>

{% for workspace in workspaces.user %}
  {% workspace workspace %}
{% empty %}
No workspace
{% endfor %}

{% endblock %}
