{# the variables tree_template and tree_items must be defined before entering #}
{# tree_items is a list of dicts with properties name, url, children #}
{% for child in tree_items %}
<li>
  {% ifequal child.type 'category' %}
    {% if child.url %}<a href="{{ child.url }}">{% endif %}
    <span class="folder">{{ child.name }}</span>
    {% if child.url %}</a>{% endif %}
    <ul>
      {% with child.children as tree_items %}
        {% include tree_template %}
      {% endwith %}
    </ul>
  {% else %}{# child.type == 'workspace-acceptable' #}
    <div
       {% if child.description %}
         class="workspace-acceptable has_popover"
         data-content="{{ child.description }}"
         title="{{ child.name }}"
       {% else %}
         class="workspace-acceptable"
       {% endif %}
       data-adapter-layer-json="{{ child.adapter_layer_json }}"
       data-adapter-class="{{ child.adapter_name }}"
       data-name="{{ child.name }}">
      {{ child.name }}
    </div>
  {% endifequal %}
</li>
{% endfor %}
