{# the variables tree_template and tree_items must be defined before entering #}
{# tree_items is a list of dicts with properties name, url, children #}
{% for tree_item in tree_items %}
  <li>
    {% ifequal tree_item.workspace_type 'category' %}
      {% if tree_item.url %}<a href="{{ tree_item.url }}">{% endif %}
      <{{ tree_item.heading }}>{{ tree_item.name }}</{{ tree_item.heading }}>
      {% if tree_item.url %}</a>{% endif %}
      <ul class="without-bullets">
        {% with tree_item.children as tree_items %}
          {% include tree_template %}
        {% endwith %}
      </ul>
    {% else %}
      {# tree_item.type == 'workspace-acceptable' #}
      {{ tree_item.to_html }}
    {% endifequal %}
  </li>
{% endfor %}
